* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

.bg--light {
    background: #fff;
    color: #000;
}

.bg--dark {
    background: #000;
    color: #fff;
}

/* HEADER SECTION */

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 10px;
}

header p {
    text-transform: uppercase;
    font: 2rem sans-serif;
    font-weight: 700;
    letter-spacing: .1em;
    line-height: 117%;

}
.icon-bg-dark{
    background: #000;
}


/* PLAYLIST LENGTH SECTION */

#playlist-length {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

#playlist-length div {
    padding: 20px 0;
}

#playlist-length div p {
    text-transform: uppercase;
    font: 2rem sans-serif;
    font-weight: 700;
    letter-spacing: .1em;
    line-height: 117%;
}


/* Basic button styling */
button {
    background-color: #fff;
    /* Green background */
    border: 1px solid #000;
    /* Remove borders */
    color: #000;
    /* White text */
    padding: 20px 50px;
    /* Some padding */
    text-align: center;
    /* Center the text */
    text-decoration: none;
    /* Remove underline */
    display: inline-block;
    /* Make the button inline element */
    font-size: 16px;
    /* Increase font size */
    margin: 4px 2px;
    /* Some margin */
    cursor: pointer;
    /* Pointer/hand icon */
    border-radius: 4px;
    /* Rounded corners */
    transition: background-color 0.3s ease;
    /* Animation for background color change */
}

/* Button hover effect */
button:hover {
    background-color: #000;
    color: #fff;
}

/* MOOD SELECTOR SECTION  */

#mood-selector{
        display: flex;
            flex-direction: column;
            justify-content: center;

            height: 100vh;
            width: 100%;
            text-align: center;
}

#mood-selector div {
    padding: 20px 0;
}

#mood-selector div p {
    text-transform: uppercase;
    font: 2rem sans-serif;
    font-weight: 700;
    letter-spacing: .1em;
    line-height: 117%;
}

.happy:hover{
    background: #ff7400;
}

.sad:hover {
    background: #0071b6;
}

.chill:hover {
    background: #FFEA00;
}
.energetic:hover {
    background: #f31c1c;
}

/* CONNECT SPOTIFY */

#connect-spotify{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #1ED760;
    row-gap: 20px;
}

#spotify-btn{
    background: #000;
    color: #fff;
}

#spotify-btn:hover {
    color: #1ED760;
}

/* CHOOSE ARTIST  */

#choose-artist {
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #1ED760;
}


#choose-artist h1{
    text-align: center;
    padding: 100px 0;
    font: 2rem sans-serif;
 
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 50px;
    padding: 20px 10px;
    justify-items: center;
    text-align: center;
}

.grid-container img{
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: 20px 0;

}

.grid-container div > img > p  {
    color: #1ED760;
}
/* PLAYLIST */
#playlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}